SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
SUBSCRIPTION_PRICE=600
PAYMENT_NUMBER=0736501740
NODE_ENV=production

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
OPENAI_API_KEY=
YOUTUBE_API_KEY=
